@using Web.ViewModel
@model GroupToSectionViewModel
@{
    Layout = "~/Views/Shared/_LtiLayout.cshtml";
}

<div class="group-to-section">
    <h3>Kopiera studenter från grupp till sektion</h3>
    @if (Model.IsEmpty())
    {
        <b>Kursen har inga grupper konfigurerarde.</b>
    }
    else
    {
        <p>Notera att du inte bara kan skapa en sektion här, utan även uppdatera en sektion som du skapat tIdigare utifrån en grupp. Det här kanske du vill göra i det fall det tillkommit en eller flera studenter i den sedan tIdigare skapade gruppen.</p>
        <p><b>Notera att:</b> om du väljer att uppdatera en sektion för en specifik grupp där det tillkommit en student kan vi inte nuläget inte garantera att alla kopplingar mellan sektionen och för sektionen tilldelade aktiviteter ligger kvar. Det kan tex gälla uppgifter som tilldelats en sektion eller en diskussion som tilldelats en sektion.</p>
        <hr />
    }
    <div Id="groups">
        @foreach (var category in Model.GroupCategories)
        {
            <details>
                <summary>@category.Name</summary>
                <div Id=@category.Name>
                    @foreach (var item in category.Groups)
                    {
                        <p>
                            <b>@item.Name</b> - @category.Name<br />
                            <input type="submit" value="Skapa/uppdatera sektion" class="btn btn-primary btn-sm submitbutton" Id="btnSubmit" Name="@item.Id" /> <br />
                            <span class="feedback" Id="txtFeedback-@item.Id"> </span><br /><br />
                        </p>

                    }
                </div>
            </details>
        }
    </div>
</div>
